@mixin arrowStyle {
  border-width: 1.3rem;
}

.fp-arrow.fp-next {
  @include arrowStyle;
  border-color: transparent transparent transparent #d8dfe3;
}

.fp-arrow.fp-prev {
  @include arrowStyle;
  border-color: transparent #d8dfe3 transparent transparent;
}
