.techIcon {
  display: flex;
  justify-content: space-around;
  // text-align: center;
  img {
    width: 2vw;
    margin-bottom: 2vh;
  }
}

.slide {
  height: 100vh;
  h1 {
    margin-left: 5vw;
  }
}

.eachSlide {
  display: flex;
  justify-content: space-evenly;
}

.meta {
  display: block;
}
