.techIcon {
  display: flex;
  justify-content: space-around;
  // text-align: center;
  img {
    width: 3rem;
    margin-bottom: 1rem;
  }
}

.slide {
  height: 100vh;
  h1 {
    margin-left: 5vw;
  }
}

.eachSlide {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.meta {
  display: block;
}

.proImg {
  width: 100%;
  height: auto;
  height: auto;
  position: absolute;
  bottom: 0%;
  // border-bottom: 0;
}
