.skills {
  margin-left: 5vw;
  img {
    width: 3vw;
    padding-right: 1rem;
  }
}

.edu {
  margin-left: 5vw;
  img {
    width: 15vw;
    margin-right: 2vw;
  }
  .schoolInfo {
    display: flex;
    margin-bottom: 5vh;
  }
}

.aboutMe {
  margin-left: 5vw;
}
