@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

h1,
h2 {
  font-weight: bold;
}

h1 {
  font-size: 3em;
}

p,
span {
  font-size: 1.5em;
}

/* .section {
  display: flex;
  align-items: center;
} */

// .fp-section {
//   display: flex;
//   align-items: center;
// }

.fp-section.fp-table,
.fp-slide.fp-table {
  display: flex;
}

@mixin arrowStyle {
  border-width: 1.3rem;
}

.fp-arrow.fp-next {
  @include arrowStyle;
  border-color: transparent transparent transparent #d8dfe3;
}

.fp-arrow.fp-prev {
  @include arrowStyle;
  border-color: transparent #d8dfe3 transparent transparent;
}
